html,body {
  height: 100%;
  width: 100%;
  margin:0 auto;
  cursor: pointer;
}

.container {
  display: grid;
  grid-auto-flow: row dense; 
  grid-template-columns: 1fr 1.5fr 1.5fr 0.5fr 1fr 0.5fr 0.5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "a b b c d e e"
    "a f f g h h h"
    "a f f i j j k"
    "l m n o s s t"
    "p q q r s s t";
  min-height: 100%;
  min-width: 100%;
  background-color: black;
}

.a { grid-area: a;}

.b { grid-area: b;}

.c { grid-area: c;}

.d { grid-area: d;}

.e { grid-area: e;}

.f { grid-area: f;}

.g { grid-area: g;}

.h { grid-area: h;}

.i { grid-area: i;}

.j { grid-area: j;}

.k { grid-area: k;}

.l { grid-area: l;}

.m { grid-area: m;}

.n { grid-area: n;}

.o { grid-area: o;}

.p { grid-area: p;}

.q { grid-area: q;}

.r { grid-area: r;}

.s { grid-area: s;}

.t { grid-area: t;}